/* -----------------------------------

  content-gallery

----------------------------------- */

.rex-slice-output .gallery-thumblist {
	padding: 0 20px 10px 20px;
	min-height: 1px;
	width: 540px;
	zoom: 1;
	overflow: hidden;
}

.rex-slice-output .gallery-thumblist ul {
    margin: 0;
    padding: 0;
    min-height: 1px;
    list-style: none;
}

.rex-slice-output .gallery-thumblist li {
    float: left;
    margin: 0 1px 1px 0;
    list-style: none;
    padding: 0;
}

.rex-area-home {
    width: 400px;
    height: 70px;
}

.rex-slice-output .content-text *,
.rex-slice-output .content-text-image *,
.rex-slice-output .gallery-division  * {
    margin: 10px 0 10px 0;
    line-height: 150%;
}

/* -----------------------------------

  forms

----------------------------------- */
.entry-wrapper {
    padding: 0 0 20px 0;
}

.entry-wrapper textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
}

.entry-wrapper input[type=text] {
    box-sizing: border-box;
    width: 100%;
}

/* -----------------------------------

  image modules

----------------------------------- */
.rex-slice-output .image-wrapper img {
    max-width: 250px;
}

/* -----------------------------------

  tables

----------------------------------- */
.rex-slice-output td {
    padding: 1px 10px 3px 10px;
}