
    /* ----------------------------------------
        basic stuff
    ---------------------------------------- */
    * {
        margin: 0;
        padding: 0;
    }

    html, body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        background: $colorlight;
        color: $font-dark;
        font: normal normal normal 15px verdana,helvetica,arial,sans-serif;
        -webkit-text-size-adjust: 100%;
    }

    h1 {
        font-size: 28px;
        padding: 15px 0 15px 0;
        font-weight: normal;
        letter-spacing: 1px;
        color: #696969;
    }

    h2 {
        font-size: 18px;
        padding: 20px 0 15px 0;
        font-weight: normal;
    }

    h3 {
        font-size: 16px;
        padding: 15px 0 15px 0;
        font-weight: normal;
    }

    h4, h4, h6 {
        font-size: 15px;
        padding: 15px 0 15px 0;
    }

    p {
        margin: 0;
        padding: 0 0 15px 0;
        line-height: 160%;
    }

    a {
        color: $font-red;
        text-decoration: none;
    }


    /* ----------------------------------------
        main wrapper
    ---------------------------------------- */
    #gallery-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;

        @include vendor(transition, left 0.3s);

        .gallery-division {
            background: $mediumgray;
        }

        .gallery-division.gallery-division-gray {
            background: $lightgray;
        }

        .gallery-division.gallery-division-form {
            background: $lightgray;
        }

        .gallery-inner {
            padding: 2% 3% 2% 3%;
            margin: auto;
            max-width: $max;
            width: 94%;
            text-align: left;
        }

        .gallery-inner img {
            max-width: 100%;
            height: auto;
        }

        .gallery-division:last-child {
            padding-bottom: 1%;
        }
    }

    /* ----------------------------------------
        footer
    ---------------------------------------- */
    #footer {
        background: $bgFooter;
        color: $fontFooter;
        font-weight: $weightFooter;
        font-size: 13px;
        padding: 1% 0 1% 0;

        .column-wrapper {
            display: flex;

            .footerLeft {
                flex-grow: 1;
                @include vendor(box-sizing, border-box);
                padding-right: 20px;
            }
            .footerRight {
                flex-grow: 1;
                @include vendor(box-sizing, border-box);
                padding-left: 20px;
            }

            @media #{$bp-med} {
                display: block;
                .footerLeft, .footerRight {
                    padding: 0;
                }
            }
        }

        a {
            color: $fontFooter;
        }
    }

    /* ----------------------------------------
        _escaped_fragments_
    ---------------------------------------- */
    #fragment-wrapper {
        width: 100%;
        height: 100%;
        overflow: auto;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            overflow: auto;
            white-space: nowrap;
            @include clearafter();
        }

        li {
            margin: 0;
            padding: 3px;
            list-style: none;
            display: inline-block;
            width: 150px;
            text-align: center;
            white-space: normal;
            vertical-align: top;
        }

        li p {
            font-size: 12px;
        }
    }

    /* ----------------------------------------
        default layout
    ---------------------------------------- */
    #static-wrapper {
        width: 100%;
        height: 100%;
        overflow: auto;
    }





