
    /* global settings */

    /* bg and border gray */
    $mediumgray:    #999999;
    $lightgray:     #b7b7b7;
    $darkgray:      #7f7f7f;
    $msg-yellow:    #fccf6e;
    
    /* bg and border light */
    $colorlight:    #ffffff;    
    
    /* font default */
    $font-dark:     #333333;
    $font-red:      #6a0000;
    $font-invert:   #ffffff;


    
    
    /* media queries */
    $bp-med:        "(max-width: 799px)";
    $bp-small:      "(max-width: 499px)";
    $max:           1000px;