
    /* global settings */

    /* bg and border gray */
    $mediumgray:    #bcbcbc;
    $lightgray:     #e5e5e5;
    $darkgray:      #444444;
    $bgViewImage:   #181818;
    $bgFooter:      #444444;
    $bgTopBar:      #444444;
    $msg-yellow:    #fccf6e;
    $bgToolIcon:    #000000;


    /* bg and border light */
    $colorlight:    #ffffff;

    /* font default */
    $font-dark:     #333333;
    $font-red:      #6a0000;
    $font-invert:   #ffffff;
    $fontFooter:    #ffffff;

    $weightFooter: 300;




    /* media queries */
    $bp-med:        "(max-width: 799px)";
    $bp-small:      "(max-width: 499px)";
    $max:           1000px;