
    /* ----------------------------------------
        toolbar viewimage
    ---------------------------------------- */
    .gallery-toolbar {
        background: $colorlight;
        text-align: center;
        padding: 12px 0 8px 0;

        p {
            background: $bgToolIcon url(../gfx/icons.png) no-repeat 0 0;
            width: 30px;
            height: 30px;
            display: inline-block;
            margin: 0 10px 0 10px;
            padding: 0;
            cursor: pointer;
        }

        span {
            display: none;
        }

        p.gallery-next {
            background-position: 0 0;
        }

        p.gallery-prev {
            background-position: -30px 0;
        }

        p.gallery-imgsrc {
            background-position: -150px 0;
        }

        p.gallery-close {
            background-position: -120px 0;
        }

        p.gallery-info {
            background-position: -180px 0;
        }

        p.gallery-thumb {
            background-position: -60px 0;
        }

        p.gallery-navi {
            background-position: -210px 0;
        }
    }

    #viewimage-wrapper {
        .gallery-toolbar {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 20000;
            width: 100%;
            display: none;

            opacity: 0.8;
            filter: alpha(opacity=80);

            @media (orientation: landscape) {
                height: 100%;
                width: auto;
                p {
                    display: block;
                    margin: 15px;
                }
            }
        }
    }


